/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

/* стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
    color: white;
}

.slider {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.slide {
    display: none;
    padding: 20px;
    text-align: center;
}

.active {
    display: block;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev {
    left: 5px;
}

.next {
    right: 5px;
}

.next-animate {
    position: absolute;
    top: 100%;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: gray;
    transition: top 0.3s;
    opacity: 0;
}

.next-animate-two {
    position: absolute;
    top: 100%;
    left: 25%;
    width: 25%;
    height: 100%;
    background-color: gray;
    transition: top 0.5s;
    opacity: 0;
}

.next-animate-three {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 25%;
    height: 100%;
    background-color: gray;
    transition: top .7s;
    opacity: 0;
}

.next-animate-four {
    position: absolute;
    top: 100%;
    left: 75%;
    width: 25%;
    height: 100%;
    background-color: gray;
    transition: top .9s;
    /* Анимация спуска квадрата */
    opacity: 0;
}

.show-next {
    top: 0;
    opacity: 1;
}

.hide-next {
    top: -100%;
    opacity: 1;
}

.prev-animate {
    position: absolute;
    top: -100%;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: gray;
    transition: top 0.3s;
    opacity: 0;
}

.prev-animate-two {
    position: absolute;
    top: -100%;
    left: 25%;
    width: 25%;
    height: 100%;
    background-color: gray;
    transition: top 0.5s;
    opacity: 0;
}

.prev-animate-three {
    position: absolute;
    top: -100%;
    left: 50%;
    width: 25%;
    height: 100%;
    background-color: gray;
    transition: top 0.7s;
    opacity: 0;
}

.prev-animate-four {
    position: absolute;
    top: -100%;
    left: 75%;
    width: 25%;
    height: 100%;
    background-color: gray;
    transition: top 0.9s;
    opacity: 0;
}

.show-prev {
    top: 0%;
    opacity: 1;
}

.hide-prev {
    top: 100%;
    opacity: 1;
}

.preloader {
    font-family: Arial, sans-serif;
    font-size: 36px;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 99;
}

.letter {
    opacity: 1;
    transition: opacity 1s;
}

.text-container {
    display: flex;
    top: 50%;
    position: relative;
    left: 41%;
}

.glitch {
    font-family: monospace;
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.glitch .letter {
    display: inline-block;
    position: relative;
    color: #fff;
    animation: glitch-anim 0.3s infinite;
    text-shadow:
        0px 0px #ff106b,
        0px 0px cyan
}

@keyframes glitch-anim {
    0% {
        text-shadow: 5px 0px #ff106b1f, 25px 0px cyan;
    }

    10% {
        text-shadow: 0px 2px #ff106b, 0px -3px cyan;
    }

    20% {
        text-shadow: -3px -3px #ff106b, 3px 4px cyan;
    }
}